@* If user is not authenticated on site *@
@if (Session["EmailAdress"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Logare", "LogIn", "UserAccount")
        </li>
        <li>
            @Html.ActionLink("Înregistrare", "Register", "UserAccount")
        </li>
    </ul>


}
@* If user authenticated on site *@
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Contacte", "Contacts", "Home")</li>
        <li>@Html.ActionLink("Produse", "Products", "Home")</li>
    </ul>
    if (User.IsInRole("Admin"))
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Lista Utilizatorilor", "getUserList", "Home")</li>
        </ul>
    }
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Salut! " + Session["EmailAdress"], "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Ieșire", "LogOut", "UserAccount")
        </li>
    </ul>
}

