@model eUseControl.Web.Models.UserLoginModel
@{ 
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="sign-up-form">
        <img class="login-image" src="~/Assets/images/pictograme/logare.png" >
        <h1> Logați-vă </h1>
        @using (Html.BeginForm("LogIn", "UserAccount", new { returnUrl = Request.QueryString["ReturnUrl"]}, FormMethod.Post))
        {
            <form action="">
                <div class="form_group_box">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.EmailAdress, new { placeholder = "EmailAdress", @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(model => model.EmailAdress, null, new { @class = "text text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Username, new { placeholder = "Username", @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text text-danger" })
                        </div>
                    </div>

                    <div>
                        <input type="submit" value="Logațivă" class="login-form-btn" />
                    </div>
                </div>

                <div>
                    @Html.ValidationMessage("Error", null, new { @class = "text text-danger"})
                </div>

                <p class="register-question">Nu aveți un cont creat? <a href="@Url.Action("Register","UserAccount")" class="register-question-btn">Înregistrați-vă</a></p>
            </form>
        }
    </div>
</div>
