@model eUseControl.Web.Models.UserRegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intro">
    <div class="sign-up-form_2">
        <img class="register-image" src="~/Assets/images/pictograme/register.png">
        <h1>Creați-vă un cont</h1>
        @using (Html.BeginForm("Register", "UserAccount", FormMethod.Post))
        {
            <form action="">
                <div class="form_group_2_box">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.FirstName, new { placeholder = "FirstName", @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.LastName, new { placeholder = "LastName", @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.EmailAdress, new { placeholder = "EmailAdress", @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(model => model.EmailAdress, null, new { @class = "text text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Username, new { placeholder = "Username", @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "ConfirmPassword", @class = "form-control" })
                        <div>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text text-danger" })
                        </div>
                    </div>
                </div>
                

                <div>
                    @Html.ValidationMessage("Error", null, new { @class = "text text-danger" })
                </div>

                <div>
                    <input type="submit" value="Crează contul" class="register-form-btn" />
                </div>

                <p class="register-question">Aveți deja un cont creat? <a href="@Url.Action("LogIn","UserAccount")" class="register-question-btn">Logați-vă</a></p>
            </form>
        }
    </div>
</div>
